html,
body{
  height: 100%;
}
img{
  max-width: 100%;
}
/* cover */
#cover{
  background: #222 url('img/forest2.jpg') center center no-repeat;
  background-size: cover;
  color:white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
#cover-caption{
  width: 100%;
}
#cover-caption .cover-subtitle{
  background: rgba(92, 184, 47, 0.8);
  padding: 1rem;
  border-radius: 0.4rem;
}
#carusel img{
  
}
.section-content{
  padding: 5rem 0;
}
#about{
  background: url('img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}
#about .about-text{
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.85rem;
}
#footer-main{
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}
